# Ignore everything at root level
/*

# Whitelist
!.gitignore
!.gitattributes
!.packwizignore

!install_data/
!install_src/
/install_src/.github
/install_src/.gradle
/install_src/.idea
/install_src/build
/install_src/run

!config/
/config/blink/**
/config/fabric/**
/config/packetfixer.properties
/config/scalablelux.properties
/config/zfastnoise.mixin.properties
!data_packs/
!mods/
/mods/.connector/**
/mods/.vscode/**
!resourcepacks/
!index.toml
!pack.toml
!fix_mod_sides.py
!/kubejs/
!/kubejs/**
!/utils/
!/utils/**
!/optimized/
!/optimized/**

!util_run.ps1

*.jar
**/*.jar

!mods/omphalos-1.0.0.jar
!mods/emigeared-1.0.0.jar
!mods/digamma-1.0.0.jar
!mods/installer-1.0.0.jar
!install_data/packwiz-installer-bootstrap.jar

*.input
**/*.input
*.disabled
**/*.disabled