# Ignore everything at root level
/*

# Whitelist
!.gitignore
!.gitattributes
!.packwizignore

!config/
/config/blink/**
/config/fabric/**
/config/packetfixer.properties
/config/scalablelux.properties
/config/zfastnoise.mixin.properties
/config/paxi/**

!data_packs/
!mods/
/mods/.index/**
/mods/.connector/**
/mods/.vscode/**
!resourcepacks/
/resourcepacks/clutternomore/**

!index.toml
!pack.toml
!fix_mod_sides.py
!/kubejs/
!/kubejs/**
/kubejs/builds_n_barrens/**
!/utils/
!/utils/**
!/optimized/
!/optimized/**

!util_run.ps1

*.jar
**/*.jar

!mods/omphalos-1.0.0.jar
!mods/emigeared-1.0.0.jar
!mods/digamma-1.0.0.jar

*.input
**/*.input
*.disabled
**/*.disabled